<div class="content">
    <div class="container">
        <h1>Bienvenido a <span class="codelace">CodeLace</span></h1>
        <div class="steps">
            <div class="step">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-route" width="50" height="50"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#18122B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 19a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                    <path d="M19 7a2 2 0 1 0 0 -4a2 2 0 0 0 0 4z" />
                    <path d="M11 19h5.5a3.5 3.5 0 0 0 0 -7h-8a3.5 3.5 0 0 1 0 -7h4.5" />
                    </svg>
                </div>
                <div class="background-blue-clair">
                    <h2>Paso 1</h2>
                </div>
                <h3>Escoge tu ruta</h3>
                <p>Escoge tu ruta y sigue los niveles Principiante, Intermedio y Avanzado. Cada uno tiene un proyecto que
                    cuenta con requisitos funcionales específicos y recursos para guiar tu camino al éxito.</p>
            </div>
            <div class="step">
                <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-code-circle-2" width="50" height="50"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#18122B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8.5 13.5l-1.5 -1.5l1.5 -1.5" />
                    <path d="M15.5 10.5l1.5 1.5l-1.5 1.5" />
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                    <path d="M13 9.5l-2 5.5" />
                </svg></div>
                <div class="background-blue-clair">
                    <h2>Paso 2</h2>
                </div>
                <h3>Desarrolla y publica</h3>
                <p>Comienza a desarrollar en el entorno de tu preferencia. Para concluir con el nivel, sube el enlace de tu
                    repositorio de GitHub junto con una pequeña descripción.</p>
            </div>
            <div class="step">
                <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-messages-off" width="50" height="50"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="#18122B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 3l18 18" />
                    <path d="M11 11a1 1 0 0 1 -1 -1m0 -3.968v-2.032a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10l-3 -3h-3" />
                    <path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2" />
                </svg></div>
                <div class="background-blue-clair">
                    <h2>Paso 3</h2>
                </div>
                
                <h3>Compara y opina</h3>
                <p>Para conocer diversas perspectivas y prácticas, revisa los proyectos de otros CodeLacers y dales tu
                    opinión. P.D. Si te gusta su solución, no dudes en regalarle un rocket. 
                </p>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-tongue-wink" width="32" height="32"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="#18122B" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M12 21a9 9 0 1 1 0 -18a9 9 0 0 1 0 18z" />
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                        <path d="M9 10h.01" />
                        <path d="M10 14v2a2 2 0 0 0 4 0v-2" />
                        <path d="M15.5 14h-7" />
                        <path d="M17 10c-.5 -1 -2.5 -1 -3 0" />
                    </svg>
                </div>
            </div>
        </div>
        <button class="learn-button" routerLink="/routes">Aprende ahora</button>
    </div>
</div>