<div class="content">
	<h1>Rutas de Aprendizaje</h1>
	<p>Las rutas presentan los recursos necesarios para desarrollar el proyecto de cada nivel.</p>
	<p>¡Encuentra la perfecta para ti y disfruta el viaje!</p>
	<!-- @for (item of items; track $index) {} -->
	<ul>
		<article class="card-route">
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-mobile" width="80"
				height="80" viewBox="0 0 24 24" stroke-width="1" stroke="#00bfd8" fill="none" stroke-linecap="round"
				stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<path d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z" />
				<path d="M11 4h2" />
				<path d="M12 17v.01" />
			</svg>
			<div>
				<p>Desarrollo Móvil con Flutter</p>
				<p>Crea aplicaciones para Android e iOS con un solo código en Dart. Domina diseño, gestión de datos
					y rendimiento.
					Prueba Flutter para una experiencia de desarrollo eficiente y productiva.</p>
			</div>
		</article>
		<article class="card-route">
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-mobile" width="80"
				height="80" viewBox="0 0 24 24" stroke-width="1" stroke="#00bfd8" fill="none" stroke-linecap="round"
				stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<path d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z" />
				<path d="M11 4h2" />
				<path d="M12 17v.01" />
			</svg>
			<div>
				<p>Desarrollo Móvil con Flutter</p>
				<p>Crea aplicaciones para Android e iOS con un solo código en Dart. Domina diseño, gestión de datos
					y rendimiento.
					Prueba Flutter para una experiencia de desarrollo eficiente y productiva.</p>
			</div>
		</article>
		<article class="card-route">
			<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-mobile" width="80"
				height="80" viewBox="0 0 24 24" stroke-width="1" stroke="#00bfd8" fill="none" stroke-linecap="round"
				stroke-linejoin="round">
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<path d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z" />
				<path d="M11 4h2" />
				<path d="M12 17v.01" />
			</svg>
			<div>
				<p>Desarrollo Móvil con Flutter</p>
				<p>Crea aplicaciones para Android e iOS con un solo código en Dart. Domina diseño, gestión de datos
					y rendimiento.
					Prueba Flutter para una experiencia de desarrollo eficiente y productiva.</p>
			</div>
		</article>
	</ul>
</div>